body {
  width: 80%;
  margin: 100px auto;
  font-size: 12px;
  letter-spacing: 1px;
}

div {
  counter-increment: fizzbuzz;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  height: 70px;
  width: 70px;
  background: #c1fae4;
  color: #1e1e1e;
}

div::after {
  content: counter(fizzbuzz);
}

div:nth-child(3n) {
  background: #7cf568;
}

div:nth-child(3n)::after {
  content: 'Fizz';
}

div:nth-child(5n) {
  background: #fd5151;
}

div:nth-child(5n)::after {
  content: 'Buzz';
}

div:nth-child(15n) {
  background: #ffc864;
}

div:nth-child(15n)::after {
  content: 'FizzBuzz';
}

div:hover::after {
  content: counter(fizzbuzz);
}
